#
# https://wiki.debian.org/SourcesList
# https://wiki.debian.org/Backports
#

deb http://deb.debian.org/debian/ {{ release }} main contrib non-free
deb-src http://deb.debian.org/debian/ {{ release }} main contrib non-free

deb http://deb.debian.org/debian/ {{ release }}-updates main contrib non-free
deb-src http://deb.debian.org/debian/ {{ release }}-updates main contrib non-free

#deb http://deb.debian.org/debian-security/ {{ release }}/updates main contrib non-free
#deb-src http://deb.debian.org/debian-security/ {{ release }}/updates main contrib non-free

deb http://security.debian.org/ {{ release }}-security main contrib non-free
deb-src http://security.debian.org/ {{ release }}-security main contrib non-free

#deb http://deb.debian.org/debian/ {{ release }}-backports main
